@model Library.Models.publication
@using Library.Models
@{
    ViewBag.Title = Model.name;
    LibraryDBContext db = new LibraryDBContext();
    List<book> books = db.books.ToList();
}
<section class="course_details_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 course_details_left">
                <div class="main_image">
                    <img class="img-fluid img-thumbnail" src="@Url.Content(Model.logo)" alt="alt_@Model.name">
                </div>
                <div class="content_wrapper">
                    <h4 class="title_top">Address</h4>
                    <div class="content">
                        @Model.address
                    </div>

                    <h4 class="title">it's Publiced Books</h4>
                    <div class="content">
                        <ul class="course_list">
                            @foreach (var book in books.Where(x => x.publication_id == Model.publication_id).ToList())
                            {
                                <li class="justify-content-between align-items-center d-flex">
                                    <p>
                                        <img class="img-responsive" style="width: 70px;" src="@Url.Content(book.photo)" alt="alt_@book.title" />
                                        @book.title
                                    </p>
                                    <a class="btn_2 text-uppercase" href="~/book/Details/@book.book_id">View Details</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 right-contents">
                <div class="sidebar_top">
                    <ul>
                        <li>
                            <a class="justify-content-between d-flex">
                                <p>Publication Name</p>
                                <span class="color">@Model.name</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex">
                                <p>Contact </p>
                                <span>@Model.contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <h4 class="title">Other Publications</h4>
                <div class="content">
                    <div class="comments-area mb-30">
                        <div class="comment-list">
                            @foreach (var publication in db.publications.OrderByDescending(x => x.publication_id).Take(5).ToList())
                            {
                                <div class="single-comment single-reviews justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb col-md-4 mb-3">
                                            <img class="img-fluid img-profile img-responsive img-rounded" style="height: 108px; width: 400px !important;" src="@Url.Content(publication.logo)" alt="alt_@Model.name">
                                        </div>
                                        <div class="desc col-md-8">
                                            <h5>
                                                <a href="~/publication/Details/@publication.publication_id">@publication.name</a>
                                            </h5>
                                            <div class="rating">
                                                @publication.contact
                                            </div>
                                            <p class="comment">
                                                @publication.address
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>